---
import "../style/_advant.scss";

const accordContents = [
  {
    title: "Для детей",
    text: "Для самых маленьких жителей построены и работают четыре детских сада. «Вишенка» и «Яблочко» находятся в построенном тридцатом микрорайоне. «Пчелка» и детский сад «Незабудка» расположены в двадцатом микрорайоне. Все дворы оборудованы детскими площадками с безопасным покрытием.",
  },
  {
    title: "Подросткам",
    text: "Для детей постарше работает общеобразовательная школа на 1100 мест, а также филиал Дворца пионеров и школьников им. Крупской. Работают секции, мастерские и различные творческие студии. Вторая школа на 1520 мест будет построена в двадцатом микрорайоне.",
  },
  {
    title: "Жителям Ньютона",
    text: "В каждом доме входные группы нового стандарта. Предусмотрена зона ожидания, места для хранения велосипедов и колясок, а также кладовые. Закрытые дворы с наземным или подземным паркингом. На первых этажах размещены предприятия различной сферы деятельности. Жители могут найти все необходимое в пешей доступности. Для проведения досуга взрослых и детей работает соседский клуб.",
  },
  {
    title: "Безопасность",
    text: "Организация безопасного проживания жителей реализована в концепции «Ньютон – безопасность». Единый центр мониторинга в круглосуточном режиме ведет наблюдение за видеокамерами, расположенными по всему комплексу. Жителям ЖК доступны сервисы безопасности: «Спокойствие», «Проводите до дома», «Сосед», «Пеший патруль». Так же здесь расположен участковый пункт.",
  },
];
---

<section class="advantage" id="advantage">
  <div class="container advantage__container">
    <h2 class="advantage__title-h2">Преимущества жизни в ЖК «Ньютон»</h2>
    <div class="accordion">
      {
        accordContents.map((accordContent): any => (
          <div class="accordion__item">
            <div class="accordion__item-trigger">
              <div class="trigger__text">{accordContent.title}</div>
              <div class="trigger__img">
                <span class="line1" />
                <span class="line2" />
              </div>
            </div>
            <div class="accordion__item-content">
              <div class="content__text">{accordContent.text}</div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
<script>
  import "../script/accord.js";
</script>
<style lang="scss"></style>
